@using TechJobsPersistent.Models;
@model  Employer;

<h1>Employer: @Model.Name</h1>

<div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
        <tr>
            <th>@Model.Id</th>
            <th> @Model.Name</th>
            <th> @Model.Location</th>
        </tr>
    </table>
    <!--p>Name: @Model.Name</!--p>
    <p>Location: @Model.Location</p--->
</div>
